/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

body {
	line-height: 1.5;
	font-family: system-ui, sans-serif;
}

/* Media elements */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Form elements */
input,
button,
textarea,
select {
	font: inherit;
	border: none;
	background: none;
	outline: none;
}

button {
	cursor: pointer;
}

/* Lists */
ul,
ol {
	list-style: none;
}

/* Anchors */
a {
	color: inherit;
	text-decoration: none;
}
